.to-do {
  width: 500px;
  font-family: sans-serif;
  font-size: 20px;
}

.to-do__list {
  position: relative;
  border: solid 1px;
  margin: 10px 0;
  animation: fadeInLeft .5s both;
}

.to-do__list--checked {
  opacity: .5;
}

.to-do__delete {
  position: absolute;
  right: 0;
  top: 0;
}

.input-wrapper button {
  width: 100%;
  height: 30px;
}

.input-wrapper input {
  width: 100%;
  height: 30px;
}

@keyframes fadeInLeft {
  from {
    transform: translate(50px,0);
    opacity: 0;
  }
}